<!-- <h1 class="mt-4">Dashboard</h1> -->
<p class="lead mb-3">Welcome <%= user.name %></p>

<!-- <a href="/users/logout" class="btn btn-secondary">Logout</a> -->
  <!-- <a class="btn btn-secondary" href="employees/index2"><i class="fa fa-list-alt"></i> View All</a> -->

<br></br>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card text-center">
  <div class="card-header bg-secondary text-white">
    <h5>View Available Jobs</h5>
  </div>
  <div class="card-body bg-light">
    <a class="btn btn-primary btn-lg btn-block" href="employees/index2"><i class="fa fa-list-alt"></i> View All</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card text-center">
  <div class="card-header bg-secondary text-white">
     <h5>Create Jobs</h5>
  </div>
  <div class="card-body bg-light">
    <a class="btn btn-primary btn-lg btn-block" href="employees/create"><i class="fa fa-list-alt"></i> Create Jobs</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card text-center">
  <div class="card-header bg-secondary text-white">
    <h5>Edit jobs</h5>
  </div>
   <div class="card-body bg-light">
    <a class="btn btn-primary btn-lg btn-block" href="employees/edit"><i class="fa fa-list-alt"></i> Edit Jobs</a>
  </div>

</div>
    </div>
  </div>
  <br></br>
  <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a class="btn btn-primary btn-lg btn-block" href="employees/index2"><i class="fa fa-list-alt"></i> View All</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>


 
