
    <!-- <title><%= title %></title>
   -->
<!-- navbar -->

    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h4><a class="btn btn-secondary"  href="/employees/index2"> <i class="fas fa-hand-point-right fa-lg"></i> JOBS </a></h4> -->

    <!-- <a href="/users/logout" class="btn btn-secondary"> <i class="fas fa-sign-out-alt fa-lg"></i> LOGOUT</a> -->


     