<!-- THE COMMENETED CODE WORKS AND IT IS RESERVED  -->
 
 <!--  SINGLE FILE -->
<!-- <form class="form-group  action="/uploadfile" enctype="multipart/form-data" method="POST"> 
   <div class="input-group">
    <div class="custom-file">
   <input type="file" name="myFile" class="custom-file-input" id="inputGroupFile04"/>
    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
    </div>
     <div class="input-group-append">
     <button class="btn btn-outline-secondary" type="submit"  value="Upload a file"> "Upload a file</button> thisneeds to be commented apart"
   <input type="submit" value="Upload a file"/ class="btn btn-outline-secondary">
</div>
</div>
</form> -->
 
 
<!-- MULTIPLE FILES -->
 
<form  action="/uploadmultiple"  enctype="multipart/form-data" method="POST">
  <input type="file" name="myFiles" class="text-light" multiple>
 <input type="submit"   value="Upload your files" class="btn btn-outline-secondary"/> 
</form>
 
  <!--   PHOTO-->
 
<!-- <form action="/upload/photo" enctype="multipart/form-data" method="POST"> 
  <input type="file" name="myImage" accept="image/*" />
  <input type="submit" value="Upload Photo"/>
</form>
  -->
 










